@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

a,
article,
b,
blockquote,
body,
center,
cite,
code,
details,
div,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
i,
iframe,
img,
label,
li,
main,
menu,
nav,
object,
ol,
p,
s,
section,
span,
strong,
sub,
table,
tbody,
td,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

:root {
    --primary-font-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: normal;
}

button,
input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #474747;
}

.container {
    max-width: 1318px;
    margin: 0 auto;
    padding: 0 16px;
}

.d-flex {
    display: flex;
}

.flex-ac {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.no-lh {
    line-height: 0;
}

.title-lg {
    line-height: 1.1;
    letter-spacing: 0.25px;
    font-size: 40px;
    font-weight: normal;
}

.text-light {
    color: var(--primary-font-color);
}

.bg-light {
    background-color: var(--primary-font-color);
}

.pos-rel {
    position: relative;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

/*-----------------------*\

 #HEADER

\*-----------------------*/

header {
    position: absolute;
    z-index: 11;
    padding: 25px 0;

}

header a {
    color: var(--primary-font-color);
}

.header-right a {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
}

.practice {
    display: inline-block;
    padding: 6px 25px;
    border-radius: 1px;
    border: solid 2.5px var(--primary-font-color);
    margin-left: 50px;
    transition: all 0.2s;
    font-size: 25px;
    font-weight: 500;
    background-color: transparent;
}

.practice:hover {
    background-color: var(--primary-font-color);
    color: #00c3ff;
    transform: translateY(-5px);
}

.logo-heading {
    font-size: 34px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.header-left {
    gap: 25px;
}

/*-----------------------*\

 #HERO

\*-----------------------*/

.hero {
    background: url(images/hero-bg/hero-bg-img.jpg) no-repeat center/cover;
    height: 110vh;
    min-height: 700px;
    max-height: 1100px;
}

.hero .container {
    top: 40%;
    gap: 100px;
}

.input-box {
    gap: 30px;
    border-radius: 2px;
    padding: 26px 12px;
}

.search {
    gap: 5px;
    margin-bottom: 100px;
}

.search input {
    font-size: 25px;
}

.search input::placeholder {
    color: #909090;
}

.search-area {
    width: 264px;
}

.search-hospital {
    width: 519px;
}

.search-insurance {
    width: 436px;
}

.search-icon {
    width: 35px;
    height: 35px;
    margin-bottom: -10px;
    vertical-align: middle;
}

.btn-search {
    padding: 18px 36px;
    border-radius: 2px;
    background-color: #0093ff;
}

.magni-img {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.suggest-list {
    position: absolute;
    top: 55px;
    left: 0;
    padding: 30px;
    box-shadow: 0 10px 10px #474747;
    z-index: 10;
}

.suggest-list li {
    font: 25px;
    padding: 10px;
    cursor: pointer;
}

.suggest-list li:hover {
    background-color: #e8e8e8;
}

.feature-list {
    gap: 50px;
}

.feature-list-item {
    width: 200px;
    height: 200px;
    padding: 22px 24px;
    border-radius: 5px;
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.34);
    flex-direction: column;
    transition: transform 0.3s ease-out;
}

.feature-list-item:hover {
    transform: translateY(-10px);
}

.feature-img {
    max-width: 106px;
}

.feature-description {
    font-size: 18px;
}

/*-----------------------*\

 #HOW-IT-WORKS

\*-----------------------*/

.work-process {
    padding: 50px 0;

}

.work-process h2 {
    margin-bottom: 50px;
}

.process {
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.process-item {
    max-width: 380px;
    align-items: center;
    gap: 35px;
}

.process-item h3 {
    font-size: 30px;
    letter-spacing: 0.19px;
}

.process-img {
    max-height: 100px;
}

.process p {
    font-size: 20px;
    letter-spacing: 0.18px;
    color: rgba(71, 71, 71, 0.7);
}

/*-----------------------*\

 #ARTCLES

\*-----------------------*/

.articles {
    background: linear-gradient(242deg, rgb(24, 155, 251, 0.53) -11%, rgba(63, 243, 195, 0.53) 119%), url(images/article-bg.jpg) no-repeat center/cover;
    padding: 50px 0 140px;
}

.articles h2 {
    margin-bottom: 50px;
}

.health-article {
    overflow: hidden;
    gap: 65px;
}

.card-info {
    padding: 12px;
    gap: 10px;
}

.health-article-card {
    min-width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 15px 22px 0 rgba(0, 0, 0, 0.41);
    transition: all 0.3s ease-in-out;
    /* flex-shrink: 0; */
}

.health-article-card h3 {
    font-size: 22px;
    letter-spacing: 0.28px;
}

.health-article-card p {
    font-size: 13px;
    letter-spacing: 0.26px;
    color: rgba(71, 71, 71, 0.54);
}

/* .doctor-img {
    width: 300px;
} */

.name {
    font-size: 14px;
    letter-spacing: 0.28px;
}

.read-link {
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #13ba8e;
}

.btn-slide {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    display: inline-block;
    padding: 10px;
    border: solid #0093ff;
    border-width: 0 2px 2px 0;
}

.btn-slide-left {
    left: 50px;
}

.btn-slide-left .arrow {
    transform: rotate(135deg);
}

.btn-slide-right {
    right: 50px;
}

.btn-slide-right .arrow {
    transform: rotate(-45deg);
}

/*-----------------------*\

 #JOIN-US

\*-----------------------*/

.join-us {
    background-image: linear-gradient(241deg, #189bfb -11%, #3ff3c3 119%);
    padding: 50px 0 0;
}

.join-us .container {
    gap: 150px;
}

.iphone-img {
    max-width: 368px;
}

.store {
    gap: 20px;
}

.input-email {
    padding: 15px 20px;
    width: 302px;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid var(--primary-font-color);
    font-size: 16px;
    line-height: 1.25;
}

.input-email::placeholder {
    color: var(--primary-font-color);
}

.btn-signup {
    color: #0bb185;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.32px;
    padding: 18px 36px;
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.store-links {
    gap: 35px;
}

.store-img {
    max-width: 187px;
}

/*-----------------------*\

 #FOOTER

\*-----------------------*/

footer {
    background-color: #00556b;
    padding: 50px 0 80px;
}

.footer-nav {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-nav h3 {
    font-size: 25px;
    line-height: 0.56;
    margin-bottom: 25px;
}

.footer-nav-link {
    font-size: 22px;
    line-height: 1.82;
    color: #00f1b7;
    transition: all 0.2s;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.footer-nav-link:hover {
    color: var(--primary-font-color);
}

.footer-nav-link::after {
    content: '';
    display: block;
    position: absolute;
    transform: scale(0);
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-font-color);
    transition: all 0.3s ease-in-out;
}

.footer-nav-link:hover::after {
    transform: scale(1);
}


.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    transition: all 0.15s ease-in-out;
}

.social-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.social a:hover {
    box-shadow: 0 2px 10px var(--primary-font-color);
    transform: scale(1.1);
}

/*----------- MODAL-BOX ------------- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.3s;
    overflow: hidden;
}

.modal-box {
    width: 400px;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    z-index: 111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    transition: all 0.3s;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

.close-btn-bar {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: #909090;
}

.close-btn-bar:nth-child(1) {
    transform: rotate(45deg) translateX(21px);

}

.close-btn-bar:nth-child(2) {
    transform: rotate(135deg) translateX(21px);
}

.hidden {
    display: none;
}

.modal-box p {
    font-size: 20px;
}

.mail {
    display: block;
    color: green;
    text-shadow: 0 1px 3px green;
}

.js-section {
    transition: all 0.2s ease-in;
}

.section-hide {
    opacity: 0;
    transform: translateY(10%);
}

.sticky-nav {
    position: fixed;
    box-shadow: 0px 2px 10px #474747;
    opacity: 0.9;
    background-color: #00c3ff;
    transition: all 0.2s ease-in;
}

/*-------- MEDIA-QUERY---------- */

@media screen and (max-width:1024px) {

    .input-box {
        gap: 20px;
        padding: 16px 8px;
    }

    .search input {
        font-size: 18px;
    }

    .btn-search {
        padding: 11px 20px;
    }

    .magni-img {
        width: 35px;
        height: 35px;
    }

    .join-us .container {
        gap: 50px;
    }

    .btn-slide {
        width: 50px;
        height: 50px;
        top: 90%;
    }

    .arrow {
        padding: 5px;
    }

    .btn-slide-left {
        left: 30%;
    }

    .btn-slide-right {
        right: 30%;
    }


}

@media screen and (max-width:768px) {
    .header-right {
        display: none;
    }

    .title-lg {
        font-size: 30px;
    }

    .hero .container {
        top: 35%;
    }

    .search {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }

    .search-area,
    .search-hospital,
    .search-insurance,
    .btn-search {
        width: 100%;
    }

    .feature-list {
        gap: 20px;
    }

    .feature-list-item {
        width: 150px;
        height: 150px;
    }

    .feature-img {
        width: 50px;
    }

    .feature-description {
        font-size: 14px;
    }

    .process {
        gap: 30px;
    }

    .process-item {
        gap: 10px;
    }

    .process-item h3 {
        font-size: 25px;
    }

    .process p {
        font-size: 16px;
    }

    .health-article {
        gap: 30px;
    }

    .join-us .container {
        flex-direction: column-reverse;
    }
}